* {
    box-sizing: border-box;
}

.btn-logout {
    width: 200.5px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
    margin-right: 10px;
}

.btn-logout:hover {
    font-weight: bold;
}

.nav-izquierdo nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0F0F0;
    margin-top: 25px;
    border: black solid 2px;
    width: 190px;
    height: 40px;
    border-radius: 5px;
}

.nav-izquierdo nav a {
    color: black;
    text-decoration: none;
}

.nav-izquierdo nav a:hover {
    font-weight: bold;
}

.label-dropdown {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.label-dropdown select {
    margin-left: 2px;
    font-size: 16px;
}

.formulario .label {
    display: flex;
    justify-content: space-between;
    width: 300px;
    /*border: red dotted 1px;*/
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.label input {
    align-items: right;
    font-size: 16px;
}

.formulario .label-2 {
    display: flex;
    justify-content: space-between;
    width: 380px;
    /*border: red dotted 1px;*/
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.label-2 input {
    align-items: right;
    font-size: 16px;
}

#desactivar {
    width: 20px;
    height: 20px;
}

.formulario .guardarborrar {
    display: flex;
    justify-content: space-between;
    width: 300px;
    /*border: red dotted 1px;*/
    /*justify-content: center;*/
    align-items: center;
}

.btn-acomodo {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-around;
}

.guardarborrar {
    display: flex;
    justify-content: space-around;
    width: 823px;
    /*border: red dotted 1px;*/
    /*justify-content: center;*/
    align-items: center;
    margin-left: 25px;
    /*border: red solid 1px;*/
    text-align: center;
}

.guardarborrar h2 {
    margin-top: 18px;
    margin-bottom: 70px;
    color: white;
    line-height: 1.5em;
}